{% extends "layout.html" %}

{% block title %}
    Buy
{% endblock %}

{% block main %}
<main class="container py-5 text-center">
    <div class="mb-3">
        <form action="/buy" method="post">
            <input class="form-control mx-auto w-auto" name="symbol" placeholder="Trading Symbol" type="text">
        <div class="mb-3">
            <input class="form-control mx-auto w-auto" name="shares" type="number" placeholder="Number" min="1">
        </div>
    </div>
    <button class="btn btn-primary" type="submit">Submit</button>
        </form>

    </div>

</main>


{% endblock %}


