{% extends "layout.html" %}

{% block title %}
    Portfolio
{% endblock %}

{% block main %}
        <table style='margin-top: 30px' class="table table-striped table">
        <thead>
            <tr>
                <th scope="col">Symbol</th>
                <th scope="col">Shares</th>
                <th scope="col">Price</th>
                <th scope="col">TOTAL</th>
            </tr>
        </thead>
        <tbody>
            {% for row in database %}
                <tr>
                    <td>{{ row["symbol"] }}</td>
                    <td>{{ row["shares"] }}</td>
                    <td>{{ row["price"] | usd}}</td>
                    <td>{{ (row["shares"]*row ["price"]) | usd}}</td>
                </tr>
            {% endfor %}
        </tbody>
        <tfoot>
            <tr>
                <td></td>
                <td></td>
                <th scope="1">Cash</th>
                <th scope="1">{{ cash | usd}}</th>
            </tr>
        </tfoot>
    </table>
{% endblock %}
